/* Regole Generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --border-color: lime;
    --padding: 20px 10px;
    --color: #B1B1B1;
  }

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: midnightblue;
    padding-top: 50px;
}

.avatarImg{
    max-width: 40px;
    border-radius: 50%;
    display: inline-block;
}

.contactImg{
    max-width: 60px;
    border-radius: 50%;
    display: inline-block;
}

/* Regole header */
header{
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    position: fixed;
    top: 0;
}

.current-user-menu{
    flex-basis: 0;
    flex-grow: 1;
    border: solid 1px;
    border-color: var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    /* Utente loggato */
    .logged-user{
        display: flex;
        align-items: center;
        padding: var(--padding);
    }
    /* Nav-icons */
    .nav-icons{
        display: flex;
        align-items: center;
        gap: 20px;
        color: var(--color);
        font-size: larger;
        padding: var(--padding);
    }

.current-chat-menu{
    flex-basis: 0;
    flex-grow: 2;
    border: solid 1px;
    border-color: var(--border-color);
}

/* Regole app wrapper */
.app-wrapper{
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: darkcyan;
    display: flex;
}
/* Menu navigazione contatti */
.left-nav{
    flex-basis: 0;
    flex-grow: 1;
    background-color: #F9F9F9;
    border: solid 1px;
    border-color: var(--border-color);
}

    /* Popup */
    .pop-up{
        background-color: #8EDAFC;
        padding: var(--padding);
    }

        .popup-icon{
            color: #8EDAFC;
            background-color: #F2FBFF;
            float: left;
            font-size: 1.5em;
            border-radius: 50%;
            padding: 10px;
            margin-right: 10px;
        }
    
    /* Searching bar */
    .searching-bar{
        display: flex;
        flex-basis: 0;
        padding: 10px 8px;
    }

        /* Search-icon */
        .search-icon{
            color: var(--color);
            background-color: white;
            padding: 10px 20px;
            border: solid 1px;
            border-color: var(--border-color);
        }
        /* Search-input */
        .search-input{
            padding: 10px;
            flex-grow: 1;
            border: solid 1px;
            border-color: var(--border-color);
        }
    
    /* Contacts list */
    .contact{
        display: flex;
        border: 1px solid;
        border-color: var(--border-color);
        padding: 10px;
    }

    .message-info {
        flex-grow: 1;
        margin-left: 20px;
    }

    .message-time,.message-content {
        font-size: 0.8em;
        color: var(--color);
    }


/* Chat aperta */
.current-chat-app{
    flex-basis: 0;
    flex-grow: 2;
    background-color: rgb(77, 77, 255);
    border: solid 1px;
    border-color: var(--border-color);
}