/* Regole Generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --border-color: lime;
    --padding: 0 10px;
  }

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: midnightblue;
    padding-top: 50px;
}

.avatarImg{
    max-width: 40px;
    border-radius: 50%;
}

/* Regole header */
header{
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    position: fixed;
    top: 0;
}

.current-user-menu{
    flex-basis: 0;
    flex-grow: 1;
    border: solid 1px;
    border-color: var(--border-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    /* Utente loggato */
    .logged-user{
        display: flex;
        align-items: center;
    }
    /* Nav-icons */
    .nav-icons{
        display: flex;
        align-items: center;
        gap: 20px;
        color: #B1B1B1;
        font-size: larger;
    }

.current-chat-menu{
    flex-basis: 0;
    flex-grow: 2;
    border: solid 1px;
    border-color: var(--border-color);
}

/* Regole app wrapper */
.app-wrapper{
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: darkcyan;
    display: flex;
}
    /* Menu navigazione contatti */
.left-nav{
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgb(255, 127, 127);
    border: solid 1px;
    border-color: var(--border-color);
    padding: var(--padding);
}
    /* Chat aperta */
.current-chat-app{
    flex-basis: 0;
    flex-grow: 2;
    background-color: rgb(77, 77, 255);
    border: solid 1px;
    border-color: var(--border-color);
}